@mixin media-breakpoint($point) {
    // 작은 화면부터 최대 너비 조건 (max-width)
    @if $point == max-small-mobile {
        @media (max-width: 375px) { @content; }
    }
    @else if $point == max-mobile {
        @media (max-width: 640px) { @content; }
    }
    @else if $point == max-tablet {
        @media (max-width: 1023px) { @content; }
    }
    @else if $point == max-small-pc {
        @media (max-width: 1480px) { @content; }
    }

        // 큰 화면부터 최소 너비 조건 (min-width)
    @else if $point == mobile {
        @media (min-width: 576px) { @content; }
    }
    @else if $point == tablet {
        @media (min-width: 768px) { @content; }
    }
    @else if $point == pc {
        @media (min-width: 1024px) { @content; }
    }
}

@mixin transition($properties: all, $timing: linear, $duration: .3s, $delay: null) {
	$transitions: ();
	$length: length($properties);

	@for $i from 1 through $length {
		$property: nth($properties, $i);
		$current-timing: if(type-of($timing) == list, nth($timing, $i), $timing);
		$current-duration: if(type-of($duration) == list, nth($duration, $i), $duration);
		$current-delay: if($delay and type-of($delay) == list, nth($delay, $i), $delay);

		@if $current-delay {
			$transitions: append($transitions, $property $current-timing $current-duration $current-delay, comma);
		} @else {
			$transitions: append($transitions, $property $current-timing $current-duration, comma);
		}
	}

	transition: $transitions;
}

@mixin ellipsis($lines: 1, $line-height: null) {
	overflow: hidden;
	text-overflow: ellipsis;
	@if $lines == 1 {
		white-space: nowrap;
	} @else {
		display: -webkit-box;
		@if $line-height != null {
			max-height: $line-height * $lines;
		}
		-webkit-line-clamp: $lines;
		-webkit-box-orient: vertical;
	}
}

@mixin outline($color) {
	position: relative;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 1px solid $color;
		box-sizing: border-box;
	}
}

@mixin img-object-fit($value, $height:100%) {
	width: 100%;
	height: $height;
	object-fit: $value;
}

@mixin border($width: 1px, $style: solid, $color: var(--grey20), $sides: null) {
	@if $sides == null {
		border: $width $style $color;
	} @else {
		@each $side in $sides {
			border-#{$side}: $width $style $color;
		}
	}
}

@mixin bg-base($position: 0 0, $size: 100%, $color: null) {
    background-color: $color;
    background-repeat: no-repeat;
    background-position: $position;
    background-size: $size;
}


@mixin bg-img($url, $position: 0 0, $size:null, $color: null) {
	background: $color url($url) no-repeat $position;
	background-size: $size;
}

@mixin background-image($url, $background-size:null) {
	background: url($url) no-repeat 0 0;
	background-size: $background-size;
}

@mixin background-image-center($url, $background-size:null) {
	background: url($url) no-repeat 50% 50%;
	background-size: $background-size;
}

@mixin background-image-position($url, $x, $y, $background-size:null) {
	background: url($url) no-repeat $x $y;
	background-size: $background-size;
}

@mixin btn-size($height, $padding, $font-size) {
	min-width: $height;
	height: $height;
	padding: $padding;
	font-size: $font-size;
}

@mixin btn-child-style($size, $padding) {
	i {
		width: $size;
		height: $size;
	}

	&.btn_icon {
		gap: 0;
		padding: $padding;
	}
}

@mixin fill-button-hover($color-name) {
	&.btn:not(.disabled, [disabled]):hover,
	&.btn:not(.disabled, [disabled]):focus {
		border-color: map-get($color-map, '#{$color-name}40');
		background-color: map-get($color-map, '#{$color-name}40');
	}
}

@mixin select-size($height, $padding-right, $padding-left, $font-size,
$list-max-height, $list-padding) {
	.current {
		height: $height;
		padding-right: $padding-right;
		padding-left: $padding-left;
		font-size: $font-size;
		line-height: calc($height - 2px);

		&:after {
			width: $padding-right;
		}

		& + .list {
			top: calc($height - 1px);
			max-height: $list-max-height;
		}
	}

	.list li {
		padding: $list-padding;
		font-size: $font-size;
	}
}

@mixin list-cell-style($height, $background-color) {
	height: $height;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	background-color: $background-color;
}

@mixin write-cell-style($padding, $background-color:var(--white)) {
	height: 48px;
	padding: $padding;
	vertical-align: middle;
	@include border($color: var(--grey10), $sides: bottom);
	background-color: $background-color;
}

@mixin popup($dim:null, $absolute:null) {
	display: none;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;

	&.active {
		display: flex;
	}

	@if $dim == null {
		.dim {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(var(--black-rgb), 0.6);
		}
	}

	@if $absolute == null {
		.popup {
			position: relative;
			margin-top: -44px;
			margin-left: -220px;

			.aside_hide & {
				margin-left: -60px;
			}
		}
	}
}