// select
.nice-select {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    @include select-size(45px, 33px, 15px, 14px, 162px, 12px 15px);

    .current {
        @include ellipsis;
        display: block;
        position: relative;
        color: var(--grey70);
        @include border($color: var(--grey10));
        border-radius: var(--border-radius);
        background-color: var(--white);
        cursor: pointer;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            @include bg-img("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m6 9l6 6l6-6'/%3E%3C/svg%3E ", 50% 50%, 16px);
        }

        & + .list {
            display: none;
            position: absolute !important;
            left: 0;
            width: 100%;
            @include border();
            border-bottom-right-radius: var(--border-radius);
            border-bottom-left-radius: var(--border-radius);
            background-color: var(--white);
            overflow: hidden;
            z-index: 2;
        }
    }

    .list {
        li {
            color: var(--grey50);
            cursor: pointer;

            &:first-child.disabled {
                display: none;
            }

            &:hover {
                background-color: var(--bg10);
            }

            &.selected {
                font-weight: 600;
                color: var(--black);
            }
        }
    }

    &.placeholder .current {
        color: var(--grey60);
    }

    &.open:not(.disabled) .current {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-color: var(--grey70);

        &:after {
            transform: rotate(180deg);
        }

        & + .list {
            display: block;
            border-color: var(--grey70);
        }
    }

    &.disabled .current {
        background-color: var(--bg10);
        color: rgba(var(--grey60-rgb),.36);
        cursor: default;

        &:after {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23ced4da' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' d='m6 9l6 6l6-6'/%3E%3C/svg%3E");
        }
    }
}

.sel {
    &_sm {
        @include select-size(36px, 33px, 11px, 13px, 142px, 8px 11px);
        .current {
            &:after {
                background-size: 14px;
            }
        }
    }
}