table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
}

label {
	vertical-align: top;
}

input, select, textarea, button {
	font-size: var(--font-size);
	font-family: inherit;
	vertical-align: middle;
	box-sizing: border-box;

	&[readonly], &[disabled] {
		cursor: default;
		outline: none;
	}
}

input, select, textarea {
	width: 100%;
	padding: 0 15px;
	@include border();
	border-radius: var(--border-radius);
	background-color: var(--white);
	box-shadow: none;
	outline: none;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
    font-size: 14px;
    color: var(--grey70);

	&:focus {
		border-color: var(--grey70);
	}
}

::placeholder {
	color: var(--grey50);
	text-align: left;
	opacity: 1;
}

.comma::placeholder {
	text-align: right;
}

.tac::placeholder {
	text-align: center;
}

::-moz-focus-inner {
	padding: 0;
	border: 0;
}

input, textarea {
	&[readonly] {
		color: var(--grey70);
		border-color: var(--grey10);
		background-color: var(--bg10);
	}
	&[disabled] {
		color: rgba(var(--grey60-rgb),.36);
		border-color: var(--grey10);
        background-color: var(--bg10);
	}
}

input {
	@include ellipsis;
    height: 45px;
    line-height: 43px;
    border-radius: var(--border-radius);

	&[type=number] {
		text-align: right;
		-moz-appearance: textfield;
	}

	&[type=radio], &[type=checkbox] {
		overflow: hidden;
		position: absolute;
		width: 0 !important;
		height: 0 !important;
		margin: -1px;
		padding: 0;
		clip: rect(0, 0, 0, 0);
	}

	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		height: auto;
		-webkit-appearance: none;
	}

	&::-webkit-search-cancel-button,
	&::-webkit-search-decoration {
		-webkit-appearance: none
	}

	&::-ms-clear {
		display: none
	}

	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus,
	&:-webkit-autofill:active {
		@include transition(background-color, ease-in-out, 5000s);
		-webkit-transition: background-color 9999s ease-out;
		-webkit-box-shadow: 0 0 0 1000px transparent inset !important;
	}
}

select {
	width: auto;
	height: 32px;
	cursor: pointer;

	&:required:invalid {
		color: var(--grey50);
	}

	&::-ms-expand {
		display: none;
	}

	option {
		color: var(--grey70);

		&[disabled] {
			display: none;
		}
	}
}

textarea {
	height: 100px;
	padding-top: 12px;
	padding-bottom: 12px;
	resize: none;
}

button, input[type=submit] {
	padding: 0;
	border: 0;
	border-radius: 0;
	background-color: transparent;
	cursor: pointer;
}

address, em, i {
	font-style: normal;
}

a {
	color: var(--grey70);
	text-decoration: none;
}

html {
	font-size: var(--font-size);
}

body {
	color: var(--grey70);
	font-family: var(--font-family), Malgun Gothic, '맑은고딕', Dotum, '굴림', Gulim, Helvetica, sans-serif;
	line-height: var(--line-height);
}

.clearfix {
	&:after {
		content: '';
		display: block;
		clear: both;
	}

	> * {
		float: left;
	}
}

.clb {
	clear: both;
}

.blind {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0, 0, 0, 0);
}

.no_after:after {
	display: none !important;
}

.no_before:after {
	display: none !important;
}

// display
@each $abbreviation, $value in (n: none, b: block, ib: inline-block, t: table, tc: table-cell, f: flex, if: inline-flex) {
	.d#{$abbreviation} {
		display: #{$value} !important;
	}
}
.flex-children > * {
	flex: 1;
}

@each $prop, $value in (ov: overflow, v: visibility) {
	.#{$prop}h {
		#{$value}: hidden !important;
	}

	.#{$prop}v {
		#{$value}: visible !important;
	}
}

// flex
.fxdc {
	flex-direction: column !important;
}
.fxww {
	flex-wrap: wrap !important;
}
.fx1 {
	flex: 1 !important;
}
.fxg1 {
	flex-grow: 1 !important;
}
@each $abbreviation, $value in (c: center, fs: flex-start, fe: iflex-end) {
	.jc#{$abbreviation} {
		justify-content: #{$value} !important;
	}
	.ai#{$abbreviation} {
		align-items: #{$value} !important;
	}
}

// float
@each $abbreviation, $value in (l: left, r: right, n: none) {
	.f#{$abbreviation} {
		float: #{$value} !important;
	}
}

// position
@each $abbreviation, $value in (r: relative, a: absolute, f: fixed, s: static) {
	.pos#{$abbreviation} {
		position: #{$value} !important;
	}
}

// top,right,bottom,left
@each $abbreviation, $value in (t: top, r: right, b: bottom, l: left) {
	.#{$abbreviation}0 {
		#{$value}: 0 !important;
	}
}

// width,height
@for $i from 1 through 10 {
	@each $abbreviation, $dimension in (w: width, h: height) {
		.#{$abbreviation}#{$i}0p {
			#{$dimension}: #{$i * 10 + '%'} !important;
		}
	}
}

@for $i from 1 through 5 {
	@each $abbreviation, $dimension in (w: width, h: height) {
		.#{$abbreviation}#{$i}00 {
			#{$dimension}: $i * 100px !important;
		}
	}
}
.w160 {
	width: 160px !important;
}
.w60 {
	width: 60px !important;
}

// margin,padding
.m0 {
	margin: 0 !important;
}
.p0 {
	padding: 0 !important;
}

@each $abbreviation, $value in (t: top, r: right, b: bottom, l: left) {
	.m#{$abbreviation}a{
		margin-#{$value}: auto !important;
	}

	$i: 0;
	@while $i <= 50 {
		.m#{$abbreviation}#{$i} {
			margin-#{$value}: #{$i}px !important;
		}
		.p#{$abbreviation}#{$i} {
			padding-#{$value}: #{$i}px !important;
		}
		$i: $i + 5;
	}
}

// align
@each $abbreviation, $value in (c: center, r: right, j: justify, l: left) {
	.ta#{$abbreviation} {
		text-align: #{$value} !important;
	}
}
@each $abbreviation, $value in (t: top, m: middle, b: bottom) {
	.va#{$abbreviation} {
		vertical-align: #{$value} !important;
	}
}

// border
.bd0{
	border: 0 !important;
}
@each $abbreviation, $value in (t: top, r: right, b: bottom, l: left) {
	.b#{$abbreviation}0 {
		border-#{$value}: 0 !important;
	}
}

// 말줄임
@for $i from 1 through 3 {
	.eps#{$i} {
		@include ellipsis($i);

		br {
			display: none;
		}
	}
}
a[class^=eps] {
	display: inline-block;
	max-width: 100%;
	vertical-align: top;
}

// skipnav
#skipnav a {
	position: absolute;
	left: -3000%;

	&:focus {
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 30px;
		color: var(--white);
		line-height: 30px;
		text-align: center;
		background-color: var(--primary);
		z-index: 100000;
	}
}