:root {
    --white: #fff;
    --white-rgb: 255, 255, 255;
    --black: #000;
    --black-rgb: 0, 0, 0;
    --primary05: #f2f0fd;
    --primary10: #e5e1fb;
    --primary30: #8c75e5;
    --primary50: #6a52d5;
    --primary70: #4f3ca5;
    --primary90: #392c78;
    --primary-rgb: 57, 44, 120;
    --grey10: #e9eaef;
    --grey20: #dee0e5;
    --grey30: #cdcdd3;
    --grey40: #aaa9b2;
    --grey50: #868592;
    --grey60: #42414c;
    --grey60-rgb: 66, 65 ,78;
    --grey70: #1e1d22;
    --green10: #e2f7f2;
    --green30: #52d4b7;
    --green50: #24b89a;
    --green70: #1a9981;
    --green90: #392c78;
    --coral10: #fff1eb;
    --coral30: #ffa988;
    --coral50: #ff7a4d;
    --coral70: #e85e2d;
    --coral90: #c6471d;
    --yellow10: #fff4e0;
    --yellow30: #fbcf84;
    --yellow50: #f6a42d;
    --yellow70: #e08b24;
    --yellow90: #b5691a;
    --bg10: #fafaff ;
    --bg20: #f1f3f9;
    --font-size: 16px;
    --font-family: 'Pretendard';
    --line-height: 1.5;
    --border-radius: 8px;
    --popup-shadow: 0 0 20px 0 rgba(var(--black-rgb), 0.15);
}