<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{/soulGod/fragments/headChatbot :: headChatbot}"></th:block>
    <script th:inline="javascript">
        $(function(){
            //datepicker
            fn_setDatePicker('#date');
            fn_setDatePicker('#date2');
            fn_setDatePicker('#date3');
            fn_setDatePicker('#date4');

            // 결재라인 버튼 클릭
            $(document).on('click', '.approval_line .btn_arr', function() {
                $(this).parents('.approval_line').toggleClass('active');
            });

            // 상세 내역 버튼 클릭
            $(document).on('click', '.detail_area ul > li .btn_arr', function() {
                $(this).parents('li').toggleClass('active');
            });

        });
    </script>
</head>
<body>
<div id="wrap">
    <div class="contents">
        <div class="form_area">
            <div class="form_tit">법인카드 지출 내역서</div>
            <div class="approval_line">
                <div class="draft">
                    <div class="tit">
                        <span>기안</span>
                        <span class="date">(2025.07.14)</span>
                    </div>
                    <div class="name">
                        이철수 선임
                        <button type="button" class="btn_arr"></button>
                    </div>
                </div>
                <div class="lines">
                    <ul>
                        <li>
                            <dl>
                                <dt>합의</dt>
                                <dd>
                                    <div class="name">이영희 책임</div>
                                    <button type="button" class="btn">변경</button>
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt>결재</dt>
                                <dd>
                                    <div class="name">김명수 이사</div>
                                    <button type="button" class="btn">변경</button>
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt>참조</dt>
                                <dd>
                                    <div class="name">-</div>
                                    <button type="button" class="btn">추가</button>
                                </dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
            <form action="">
                <fieldset>
                    <legend>법인카드 지출 내역서</legend>
                    <div class="form">
                        <div class="row">
                            <dl class="col">
                                <dt><label for="cardNumber">카드번호</label></dt>
                                <dd>
                                    <div class="input">
                                        <input type="text" id="cardNumber" name="cardNumber" placeholder="입력하세요." value="{cardNumber}">
                                        <button type="button" class="btn_del" tabindex="-1">
                                            <span class="blind">삭제</span>
                                        </button>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <div class="row">
                            <dl class="col">
                                <dt><label for="date4">작성일자</label></dt>
                                <dd>
                                    <div class="input">
                                        <input type="text" id="date4" name="statementDate" class="datepicker" readonly value="{statementDate}">
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <div class="row">
                            <dl class="col">
                                <dt><label for="expenseReason">지출 사유</label></dt>
                                <dd>
                                    <textarea name="expenseReason" id="expenseReason" placeholder="입력하세요.">{expenseReason}</textarea>
                                </dd>
                            </dl>
                        </div>
                        <div class="row">
                            <dl class="col">
                                <dt>법인카드 사용 상세 내역 <button type="button" class="btn btn_add"></button></dt>
                                <dd>
                                    <div class="detail_area">
                                        <ul>
                                            <li>
                                                <div class="box">
                                                    <div class="box_head">
                                                        <div class="tit">
                                                            <button type="button" class="btn_arr"></button>
                                                            <p>접대비</p>
                                                        </div>
                                                        <div class="data">
                                                            <div class="input inp_sm">
                                                                <input type="text" id="usageAmount1" name="usageAmount1" class="comma" placeholder="입력하세요." value="160300">
                                                                <button type="button" class="btn_del" tabindex="-1">
                                                                    <span class="blind">삭제</span>
                                                                </button>
                                                            </div>
                                                            <button type="button" class="btn btn_remove"></button>
                                                        </div>
                                                    </div>
                                                    <div class="box_body">
                                                        <div class="row">
                                                            <dl class="col">
                                                                <dt><label for="usageCategory1">분류</label></dt>
                                                                <dd>
                                                                    <select name="usageCategory1" id="usageCategory1" class="sel sel_sm">
                                                                        <option value="">선택</option>
                                                                        <option value="meals">식대/회식비</option>
                                                                        <option value="traffic_transport">교통/운반비</option>
                                                                        <option value="supplies">사무용품비</option>
                                                                        <option value="entertainment">접대비</option>
                                                                        <option value="utility">공과금</option>
                                                                        <option value="welfare">복리후생비</option>
                                                                        <option value="education">교육훈련비</option>
                                                                        <option value="other">기타</option>
                                                                    </select>
                                                                </dd>
                                                            </dl>
                                                        </div>
                                                        <div class="row">
                                                            <dl class="col">
                                                                <dt><label for="date">사용일자</label></dt>
                                                                <dd>
                                                                    <div class="input">
                                                                        <input type="text" id="date" name="usageDate1" class="datepicker" readonly>
                                                                        <button type="button" class="btn_del" tabindex="-1">
                                                                            <span class="blind">삭제</span>
                                                                        </button>
                                                                    </div>
                                                                </dd>
                                                            </dl>
                                                        </div>
                                                        <div class="row">
                                                            <dl class="col">
                                                                <dt><label for="merchantName1">사용내역</label></dt>
                                                                <dd>
                                                                    <div class="input">
                                                                        <input type="text" id="merchantName1" name="merchantName1" placeholder="입력하세요.">
                                                                        <button type="button" class="btn_del" tabindex="-1">
                                                                            <span class="blind">삭제</span>
                                                                        </button>
                                                                    </div>
                                                                </dd>
                                                            </dl>
                                                        </div>
                                                        <div class="row">
                                                            <dl class="col">
                                                                <dt><label for="usageNotes1">비고</label></dt>
                                                                <dd>
                                                                    <div class="input">
                                                                        <input type="text" id="usageNotes1" name="usageNotes1" placeholder="입력하세요.">
                                                                        <button type="button" class="btn_del" tabindex="-1">
                                                                            <span class="blind">삭제</span>
                                                                        </button>
                                                                    </div>
                                                                </dd>
                                                            </dl>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="box">
                                                    <div class="box_head">
                                                        <div class="tit">
                                                            <button type="button" class="btn_arr"></button>
                                                            <p>운반비</p>
                                                        </div>
                                                        <div class="data">
                                                            <div class="input inp_sm">
                                                                <input type="text" id="usageAmount2" name="usageAmount2" class="comma" placeholder="입력하세요." value="160300">
                                                                <button type="button" class="btn_del" tabindex="-1">
                                                                    <span class="blind">삭제</span>
                                                                </button>
                                                            </div>
                                                            <button type="button" class="btn btn_remove"></button>
                                                        </div>
                                                    </div>
                                                    <div class="box_body">
                                                        <div class="row">
                                                            <dl class="col">
                                                                <dt><label for="usageCategory2">분류</label></dt>
                                                                <dd>
                                                                    <select name="usageCategory2" id="usageCategory2" class="sel sel_sm">
                                                                        <option value="">선택</option>
                                                                        <option value="meals">식대/회식비</option>
                                                                        <option value="traffic_transport">교통/운반비</option>
                                                                        <option value="supplies">사무용품비</option>
                                                                        <option value="entertainment">접대비</option>
                                                                        <option value="utility">공과금</option>
                                                                        <option value="welfare">복리후생비</option>
                                                                        <option value="education">교육훈련비</option>
                                                                        <option value="other">기타</option>
                                                                    </select>
                                                                </dd>
                                                            </dl>
                                                        </div>
                                                        <div class="row">
                                                            <dl class="col">
                                                                <dt><label for="date2">사용일자</label></dt>
                                                                <dd>
                                                                    <div class="input">
                                                                        <input type="text" id="date2" name="usageDate2" class="datepicker" readonly>
                                                                        <button type="button" class="btn_del" tabindex="-1">
                                                                            <span class="blind">삭제</span>
                                                                        </button>
                                                                    </div>
                                                                </dd>
                                                            </dl>
                                                        </div>
                                                        <div class="row">
                                                            <dl class="col">
                                                                <dt><label for="merchantName2">사용내역</label></dt>
                                                                <dd>
                                                                    <div class="input">
                                                                        <input type="text" id="merchantName2" name="merchantName2" placeholder="입력하세요.">
                                                                        <button type="button" class="btn_del" tabindex="-1">
                                                                            <span class="blind">삭제</span>
                                                                        </button>
                                                                    </div>
                                                                </dd>
                                                            </dl>
                                                        </div>
                                                        <div class="row">
                                                            <dl class="col">
                                                                <dt><label for="usageNotes2">비고</label></dt>
                                                                <dd>
                                                                    <div class="input">
                                                                        <input type="text" id="usageNotes2" name="usageNotes2" placeholder="입력하세요.">
                                                                        <button type="button" class="btn_del" tabindex="-1">
                                                                            <span class="blind">삭제</span>
                                                                        </button>
                                                                    </div>
                                                                </dd>
                                                            </dl>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="box">
                                                    <div class="box_head">
                                                        <div class="tit">
                                                            <button type="button" class="btn_arr"></button>
                                                            <p>기타</p>
                                                        </div>
                                                        <div class="data">
                                                            <div class="input inp_sm">
                                                                <input type="text" id="usageAmount3" name="usageAmount3" class="comma" placeholder="입력하세요." value="160300">
                                                                <button type="button" class="btn_del" tabindex="-1">
                                                                    <span class="blind">삭제</span>
                                                                </button>
                                                            </div>
                                                            <button type="button" class="btn btn_remove"></button>
                                                        </div>
                                                    </div>
                                                    <div class="box_body">
                                                        <div class="row">
                                                            <dl class="col">
                                                                <dt><label for="usageCategory3">분류</label></dt>
                                                                <dd>
                                                                    <select name="usageCategory3" id="usageCategory3" class="sel sel_sm">
                                                                        <option value="">선택</option>
                                                                        <option value="meals">식대/회식비</option>
                                                                        <option value="traffic_transport">교통/운반비</option>
                                                                        <option value="supplies">사무용품비</option>
                                                                        <option value="entertainment">접대비</option>
                                                                        <option value="utility">공과금</option>
                                                                        <option value="welfare">복리후생비</option>
                                                                        <option value="education">교육훈련비</option>
                                                                        <option value="other">기타</option>
                                                                    </select>
                                                                </dd>
                                                            </dl>
                                                        </div>
                                                        <div class="row">
                                                            <dl class="col">
                                                                <dt><label for="date3">사용일자</label></dt>
                                                                <dd>
                                                                    <div class="input">
                                                                        <input type="text" id="date3" name="usageDate3" class="datepicker" readonly>
                                                                    </div>
                                                                </dd>
                                                            </dl>
                                                        </div>
                                                        <div class="row">
                                                            <dl class="col">
                                                                <dt><label for="merchantName3">사용내역</label></dt>
                                                                <dd>
                                                                    <div class="input">
                                                                        <input type="text" id="merchantName3" name="merchantName3" placeholder="입력하세요.">
                                                                        <button type="button" class="btn_del" tabindex="-1">
                                                                            <span class="blind">삭제</span>
                                                                        </button>
                                                                    </div>
                                                                </dd>
                                                            </dl>
                                                        </div>
                                                        <div class="row">
                                                            <dl class="col">
                                                                <dt><label for="usageNotes3">비고</label></dt>
                                                                <dd>
                                                                    <div class="input">
                                                                        <input type="text" id="usageNotes3" name="usageNotes3" placeholder="입력하세요.">
                                                                        <button type="button" class="btn_del" tabindex="-1">
                                                                            <span class="blind">삭제</span>
                                                                        </button>
                                                                    </div>
                                                                </dd>
                                                            </dl>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <div class="row">
                            <dl class="col">
                                <dt><label for="totalUsageAmount">총 금액</label></dt>
                                <dd>
                                    <div class="input">
                                        <input type="text" id="totalUsageAmount" name="totalUsageAmount" class="comma" placeholder="입력하세요.">
                                        <button type="button" class="btn_del" tabindex="-1">
                                            <span class="blind">삭제</span>
                                        </button>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="tip">
                        <p>영수증 별도 제출</p>
                    </div>
                    <div class="btn_area">
                        <button type="button" class="btn btn_md fill_primary">제출하기</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>
