<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{/soulGod/fragments/headChatbot :: headChatbot}"></th:block>
    <script th:inline="javascript">
        $(function(){
            //datepicker
            fn_setDatePicker('#date');
            fn_setDatePicker('#date2');
            fn_setDatePicker('#date3');
            fn_setDatePicker('#date4');

            // 결재라인 버튼 클릭
            $(document).on('click', '.approval_line .btn_arr', function() {
                $(this).parents('.approval_line').toggleClass('active');
            });

            // 상세 내역 버튼 클릭
            $(document).on('click', '.detail_area ul > li .btn_arr', function() {
                $(this).parents('li').toggleClass('active');
            });

        });
    </script>
</head>
<body>
<div id="wrap">
    <div class="contents">
        <div class="form_area">
            <div class="form_tit">교통비 신청서</div>
            <div class="approval_line">
                <div class="draft">
                    <div class="tit">
                        <span>기안</span>
                        <span class="date">(2025.07.14)</span>
                    </div>
                    <div class="name">
                        이철수 선임
                        <button type="button" class="btn_arr"></button>
                    </div>
                </div>
                <div class="lines">
                    <ul>
                        <li>
                            <dl>
                                <dt>합의</dt>
                                <dd>
                                    <div class="name">이영희 책임</div>
                                    <button type="button" class="btn">변경</button>
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt>결재</dt>
                                <dd>
                                    <div class="name">김명수 이사</div>
                                    <button type="button" class="btn">변경</button>
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt>참조</dt>
                                <dd>
                                    <div class="name">-</div>
                                    <button type="button" class="btn">추가</button>
                                </dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
            <form action="">
                <fieldset>
                    <legend>교통비 신청서</legend>
                    <div class="form">
                        <div class="row">
                            <dl class="col">
                                <dt><label for="date4">출발일(사용일)</label></dt>
                                <dd>
                                    <div class="input">
                                        <input type="text" id="date4" name="departureDate" class="datepicker" readonly value="{departureDate}">
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <div class="row">
                            <dl class="col">
                                <dt><label for="purpose">목적(용무)</label></dt>
                                <dd>
                                    <textarea name="purpose" id="purpose" placeholder="입력하세요.">{purpose}</textarea>
                                </dd>
                            </dl>
                        </div>
                        <div class="row">
                            <dl class="col">
                                <dt>교통 내역 상세 <button type="button" class="btn btn_add"></button></dt>
                                <dd>
                                    <div class="detail_area">
                                        <ul>
                                            <li>
                                                <div class="box">
                                                    <div class="box_head">
                                                        <div class="tit">
                                                            <button type="button" class="btn_arr"></button>
                                                            <p>지하철</p>
                                                        </div>
                                                        <div class="data">
                                                            <div class="input inp_sm">
                                                                <input type="text" id="amount1" name="amount1" class="comma" placeholder="입력하세요." value="2900">
                                                                <button type="button" class="btn_del" tabindex="-1">
                                                                    <span class="blind">삭제</span>
                                                                </button>
                                                            </div>
                                                            <button type="button" class="btn btn_remove"></button>
                                                        </div>
                                                    </div>
                                                    <div class="box_body">
                                                        <div class="row">
                                                            <dl class="col">
                                                                <dt><label for="transportType1">교통수단</label></dt>
                                                                <dd>
                                                                    <select name="transportType1" id="transportType1" class="sel sel_sm">
                                                                        <option value="">선택</option>
                                                                        <option value="지하철">지하철</option>
                                                                        <option value="버스">버스</option>
                                                                        <option value="기차">기차</option>
                                                                        <option value="비행기">비행기</option>
                                                                        <option value="기타">기타</option>
                                                                    </select>
                                                                </dd>
                                                            </dl>
                                                        </div>
                                                        <div class="row">
                                                            <dl class="col">
                                                                <dt><label for="origin1">출발지</label></dt>
                                                                <dd>
                                                                    <div class="input">
                                                                        <input type="text" id="origin1" name="origin1" placeholder="입력하세요.">
                                                                        <button type="button" class="btn_del" tabindex="-1">
                                                                            <span class="blind">삭제</span>
                                                                        </button>
                                                                    </div>
                                                                </dd>
                                                            </dl>
                                                        </div>
                                                        <div class="row">
                                                            <dl class="col">
                                                                <dt><label for="destination1">목적지</label></dt>
                                                                <dd>
                                                                    <div class="input">
                                                                        <input type="text" id="destination1" name="destination1" placeholder="입력하세요.">
                                                                        <button type="button" class="btn_del" tabindex="-1">
                                                                            <span class="blind">삭제</span>
                                                                        </button>
                                                                    </div>
                                                                </dd>
                                                            </dl>
                                                        </div>
                                                        <div class="row">
                                                            <dl class="col">
                                                                <dt><label for="notes1">비고</label></dt>
                                                                <dd>
                                                                    <div class="input">
                                                                        <input type="text" id="notes1" name="notes1" placeholder="입력하세요.">
                                                                        <button type="button" class="btn_del" tabindex="-1">
                                                                            <span class="blind">삭제</span>
                                                                        </button>
                                                                    </div>
                                                                </dd>
                                                            </dl>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="box">
                                                    <div class="box_head">
                                                        <div class="tit">
                                                            <button type="button" class="btn_arr"></button>
                                                            <p>기타</p>
                                                        </div>
                                                        <div class="data">
                                                            <div class="input inp_sm">
                                                                <input type="text" id="amount2" name="amount2" class="comma" placeholder="입력하세요." value="16000">
                                                                <button type="button" class="btn_del" tabindex="-1">
                                                                    <span class="blind">삭제</span>
                                                                </button>
                                                            </div>
                                                            <button type="button" class="btn btn_remove"></button>
                                                        </div>
                                                    </div>
                                                    <div class="box_body">
                                                        <div class="row">
                                                            <dl class="col">
                                                                <dt><label for="transportType2">교통수단</label></dt>
                                                                <dd>
                                                                    <select name="transportType2" id="transportType2" class="sel sel_sm">
                                                                        <option value="">선택</option>
                                                                        <option value="지하철">지하철</option>
                                                                        <option value="버스">버스</option>
                                                                        <option value="기차">기차</option>
                                                                        <option value="비행기">비행기</option>
                                                                        <option value="기타">기타</option>
                                                                    </select>
                                                                </dd>
                                                            </dl>
                                                        </div>
                                                        <div class="row">
                                                            <dl class="col">
                                                                <dt><label for="origin2">출발지</label></dt>
                                                                <dd>
                                                                    <div class="input">
                                                                        <input type="text" id="origin2" name="origin2" placeholder="입력하세요.">
                                                                        <button type="button" class="btn_del" tabindex="-1">
                                                                            <span class="blind">삭제</span>
                                                                        </button>
                                                                    </div>
                                                                </dd>
                                                            </dl>
                                                        </div>
                                                        <div class="row">
                                                            <dl class="col">
                                                                <dt><label for="destination2">목적지</label></dt>
                                                                <dd>
                                                                    <div class="input">
                                                                        <input type="text" id="destination2" name="destination2" placeholder="입력하세요.">
                                                                        <button type="button" class="btn_del" tabindex="-1">
                                                                            <span class="blind">삭제</span>
                                                                        </button>
                                                                    </div>
                                                                </dd>
                                                            </dl>
                                                        </div>
                                                        <div class="row">
                                                            <dl class="col">
                                                                <dt><label for="notes2">비고</label></dt>
                                                                <dd>
                                                                    <div class="input">
                                                                        <input type="text" id="notes2" name="notes2" placeholder="입력하세요.">
                                                                        <button type="button" class="btn_del" tabindex="-1">
                                                                            <span class="blind">삭제</span>
                                                                        </button>
                                                                    </div>
                                                                </dd>
                                                            </dl>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <div class="row">
                            <dl class="col">
                                <dt><label for="totalAmount">총 금액</label></dt>
                                <dd>
                                    <div class="input">
                                        <input type="text" id="totalAmount" name="totalAmount" class="comma" placeholder="입력하세요." value="{totalAmount}">
                                        <button type="button" class="btn_del" tabindex="-1">
                                            <span class="blind">삭제</span>
                                        </button>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <div class="row">
                            <dl class="col">
                                <dt><label for="notes">기타 보고 사항(비고)</label></dt>
                                <dd>
                                    <textarea name="notes" id="notes" placeholder="입력하세요.">{notes}</textarea>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="tip">
                        <p>영수증 별도 제출</p>
                    </div>
                    <div class="btn_area">
                        <button type="button" class="btn btn_md fill_primary">제출하기</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>
